.navbar-logo {
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
    margin-left: 100px; 
}

.navbar-info img {
    margin-right: 50px;
    width: 170px;
}



.link {
    margin-left: 40px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    
}

.line {
    position: absolute;
    background-color: brown;
    width: 47px;
    height: 3px;
    left: 260.5px;
    bottom: 35px;
}



@media only screen and (max-width: 980px) {
    .navbar-logo {
        margin-left: 30px;
    }
}


@media only screen and (max-width: 860px) {
    .navbar-logo img {
        width: 130px;
        margin-right: 20px;
    }
    .line {
        left: 191px;
    }
}

@media only screen and (max-width: 860px) {
    .link {
        margin-left: 20px;
        font-size: 15px;
    }

    .line {
        left: 171px;
        width: 39px;
        height: 2px;
    }
}